openapi: 3.2.0
info:
  title: Biconomy Mee API
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: '1.0'
  description: 'Operations tagged mee across 2 of this provider''s published API definitions: biconomy-supertransaction-api-0.6.12-openapi.json, biconomy-supertransaction-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.biconomy.io
  description: Production server
- url: https://api-staging.biconomy.io
  description: Staging server
tags:
- name: mee
paths:
  /v1/mee/orchestrator:
    post:
      description: Get orchestrator addresses for the specified owner on requested chains
      summary: Get orchestrator addresses
      tags:
      - mee
      parameters: []
      operationId: getOrchestrator
      requestBody:
        description: Body
        content:
          application/json:
            schema:
              description: Request schema for getting orchestrator addresses on specified chains
              type: object
              properties:
                ownerAddress:
                  description: EOA wallet address which is used as owner of the orchestrator account
                  type: string
                  example: '0x0a7C906832544293a6018bA25280c7f7b0Bbf120'
                chains:
                  description: List of unique chain IDs where orchestrator addresses are needed. If omitted, returns all supported chains.
                  example:
                  - 1
                  - 137
                  - 10
                  - 8453
                  minItems: 1
                  type: array
                  items:
                    description: Chain ID where orchestrator address is needed
                    type: number
                    example: 8453
                addressVersions:
                  description: 'Optional: filter address derivation versions. Default: both versions.'
                  example:
                  - 2.1.0
                  - 2.2.1
                  type: array
                  items:
                    type: string
                    enum:
                    - 2.2.1
                    - 2.1.0
                    - 2.0.0
                    - 1.1.0
                    - 1.0.0
              required:
              - ownerAddress
              additionalProperties: false
      responses:
        '200':
          description: Response schema containing Nexus deployment information grouped by chains and versions
          content:
            application/json:
              schema:
                description: Response schema containing Nexus deployment information grouped by chains and versions
                type: object
                properties:
                  ownerAddress:
                    description: Owner address that was queried
                    type: string
                    example: '0x0a7C906832544293a6018bA25280c7f7b0Bbf120'
                  deployments:
                    description: List of Nexus deployments across chains and versions
                    type: array
                    items:
                      type: object
                      properties:
                        chainId:
                          type: number
                          example: 8453
                        chainName:
                          type: string
                          example: Base
                        addressVersion:
                          type: string
                          enum:
                          - 2.2.1
                          - 2.1.0
                          - 2.0.0
                          - 1.1.0
                          - 1.0.0
                        address:
                          type: string
                          example: '0x4b19129EA58431A06D01054f69AcAe5de50633b6'
                        isDeployed:
                          type: boolean
                          example: true
                        implementation:
                          anyOf:
                          - type: string
                          - type: 'null'
                        nexusVersion:
                          anyOf:
                          - type: string
                            enum:
                            - 2.2.1
                            - 2.1.0
                            - 2.0.0
                            - 1.1.0
                            - 1.0.0
                          - type: 'null'
                        accountId:
                          anyOf:
                          - type: string
                          - type: 'null'
                        isUpgradeNeeded:
                          type: boolean
                          example: false
                      required:
                      - chainId
                      - chainName
                      - addressVersion
                      - address
                      - isDeployed
                      - implementation
                      - nexusVersion
                      - accountId
                      - isUpgradeNeeded
                      additionalProperties: false
                  upgradedAddresses:
                    description: Ready-to-use mapping for quote requests.
                    type: object
                    propertyNames:
                      type: string
                    additionalProperties:
                      type: string
                required:
                - ownerAddress
                - deployments
                - upgradedAddresses
                additionalProperties: false
        '400':
          description: '400'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        message:
                          type: string
                      required:
                      - code
                      - path
                      - message
                      additionalProperties: false
                required:
                - code
                - message
                - errors
                additionalProperties: false
        '500':
          description: '500'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        message:
                          type: string
                      required:
                      - code
                      - path
                      - message
                      additionalProperties: false
                required:
                - code
                - message
                - errors
                additionalProperties: false
    servers:
    - url: https://api.biconomy.io
      description: Production server
    - url: https://api-staging.biconomy.io
      description: Staging server
  /v1/mee/upgrade:
    post:
      description: Generate an upgrade quote for Nexus accounts on specified chains that need to be upgraded from v2.1.0 to v2.2.1
      summary: Generate upgrade quote
      tags:
      - mee
      parameters: []
      operationId: upgrade
      requestBody:
        description: Body
        content:
          application/json:
            schema:
              description: Request schema for generating an upgrade quote
              type: object
              properties:
                ownerAddress:
                  description: EOA wallet address which is the owner of the Nexus accounts to upgrade
                  type: string
                  example: '0x0a7C906832544293a6018bA25280c7f7b0Bbf120'
                mode:
                  type: string
                  enum:
                  - smart-account
                  - eoa
                chainIds:
                  minItems: 1
                  type: array
                  items:
                    type: number
                    example: 8453
                feeToken:
                  type: object
                  properties:
                    address:
                      type: string
                      example: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                    chainId:
                      type: number
                      example: 1
                    gasRefundAddress:
                      type: string
                  required:
                  - address
                  - chainId
                  additionalProperties: false
                simulate:
                  type: boolean
                  default: true
              required:
              - ownerAddress
              - mode
              - chainIds
              - simulate
              additionalProperties: false
      responses:
        '200':
          description: Upgrade quote response with per-chain upgrade information
          content:
            application/json:
              schema:
                type: object
                properties:
                  ownerAddress:
                    type: string
                  fee:
                    type: object
                    properties:
                      amount:
                        type: string
                      token:
                        type: string
                      chainId:
                        type: number
                    required:
                    - amount
                    - token
                    - chainId
                  quoteType:
                    type: string
                    enum:
                    - permit
                    - onchain
                    - simple
                    - permit-sca
                    - mm-dtk
                  quote:
                    type: object
                  payloadToSign:
                    type: array
                    minItems: 1
                    items: {}
                  upgradeDetails:
                    type: array
                    items:
                      type: object
                      properties:
                        chainId:
                          type: number
                        addressVersion:
                          type: string
                        address:
                          type: string
                        nexusVersion:
                          type: string
                        targetVersion:
                          type: string
                          const: 2.2.1
                      required:
                      - chainId
                      - addressVersion
                      - address
                      - nexusVersion
                      - targetVersion
                required:
                - ownerAddress
                - fee
                - quoteType
                - quote
                - payloadToSign
                - upgradeDetails
        '400':
          description: '400'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items: {}
                required:
                - code
                - message
                - errors
        '500':
          description: '500'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items: {}
                required:
                - code
                - message
                - errors
    servers:
    - url: https://api.biconomy.io
      description: Production server
    - url: https://api-staging.biconomy.io
      description: Staging server
components:
  securitySchemes:
    X-API-Key:
      type: apiKey
      name: X-API-Key
      in: header
      description: 'API Key required to access Supertransaction API. Example: mee_2w3mXCuyt4xVXDRCZ5k5Lhgs'
x-refined-from:
- biconomy-supertransaction-api-0.6.12-openapi.json
- biconomy-supertransaction-api-openapi.yml
